@charset "utf-8";
/* CSS Document */
.pictureDIV { float: left; margin: 0 0 20px 0; width:320px;}
.imgInfo{ clear:both; overflow:hidden; width:700px; min-height:360px; display:inline;}
/*Picture Zoom Css*/
.jqzoom{ position:relative;}
.zoomdiv{ height:368px; width:320px;}
.list-h li{ float:left;}
/*jqzoom*/
.jqzoom{ float:left;border:none; position:relative; padding:0px; cursor:pointer; margin:0px; display:block; }
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:368px;height:320px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:590px;height:450px;}
.jqZoomPup{ z-index:10; visibility:hidden; position:absolute; top:0px;left:0px; width:20px; height:20px; border:1px solid #aaa; background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*Small picture List表*/
.spec-preview{ width:315px; height:240px; border: 1px solid #CCC; padding:8px 8px;}
.spec-preview .jqzoom img{ width:315px; height:240px; }
.spec-scroll{ clear:both; margin-top:5px; width:333px; }
.spec-scroll .prev{ float:left; margin-right:5px; }
.spec-scroll .next{ float:right; }
.spec-scroll .prev,.spec-scroll .next{ display:block; font-family:"宋体"; text-align:center; width:10px; height:54px; line-height:54px; border:1px solid #CCC; background:#EBEBEB; cursor:pointer; text-decoration:none; }
.spec-scroll .items{ float:left;position: relative;width:293px; height:56px; overflow:hidden; }
.spec-scroll .items ul{ list-style:none; position:absolute; width:999999px; height:56px; }
.spec-scroll .items ul li{ float:left; width:81px; text-align:center; }
.spec-scroll .items ul li img{ border:1px solid #CCC; padding:2px; width:66px; height:50px; }
.spec-scroll .items ul li img:hover{ border:2px solid #FF6600; padding:1px; }
/*Pictrue Information*/
.productItem { height: 330px; list-style-type: none; float: left; margin: 0 0 20px 10px; width: 326px; padding: 10px; line-height: 34px; font-size: 14px; }
.productItem dt{ font-weight:bold;}
.productItem dd{ line-height:22px;}
.productsInfo{ overflow:hidden; clear:both;}
.tab .currentTab{display:block;}
.tabCon{display:none;}
.currentCon{display:block;}

.tab{ padding-left:26px; background:url(../images/tab_bg.jpg) 0 0 repeat-x; height:45px; clear:both;}
.tab li{ margin-right:2px; margin-top:10px; color:#666; font-weight:bold; height:35px; line-height:35px; padding:0 10px; cursor:pointer; border-top:#d6d6d6 1px solid; border-right:solid 1px #d6d6d6; border-left:solid 1px #d6d6d6; float:left; display:inline; }
.tab li.first{ background:#fff; }
.currentTab{ background:#fff; }
.currentCon{ padding:20px 10px 30px 10px; min-height:200px; _height:200px; overflow: visible; display:block; float:left;}


/* 产品参数 */
.tr_one{background-color:#ffffff;}
.tr_one td{line-height:25px;}
.tr_two{background-color:#ececec;}
.tr_two td{line-height:25px;border-top:1px solid #b4b4b4;border-bottom:1px solid #b4b4b4;}
.td_one{padding-left:24px;border-left:1px solid #b4b4b4;}
/* 产品参数end */