@charset "utf-8";
/* CSS Document */
.proClassLayer{ line-height:32px; border:#ccc 1px solid; background:#f7f7f7; overflow:hidden;}
.proClassLayer ul{ height:32px; border-bottom:#ccc 1px solid; overflow:hidden;}
.proClassLayer ul.lastUl{ border-bottom:none;}
.proClassLayer ul li{ width:88px;  line-height:32px; text-align:center;  float:left;}
.proClassLayer ul li a{ font-size:11px; color:#666;}
.proClassLayer ul li a:hover{ color:#fff;}
.proClassLayer ul li.liTitle{ margin:0 5px; background:url(../images/current.jpg) center center no-repeat; text-align:center;color:#fff;}
.proClassLayer ul li.currentLi{ background:url(../images/current.jpg) center center no-repeat; text-align:center;}
.proClassLayer ul li.currentLi a,.proClassLayer ul li.liTitle a{color:#fff;}
.proClassLayer ul li.currentLi a:hover,.proClassLayer ul li.liTitle a:hover{ color:#fff;}
/*Products Page End */
.proClass{ overflow:hidden;}
.proClass .title{ margin-top:10px; height:30px; padding-left:5px; line-height:30px; border-bottom:#d6d6d6 1px solid;}
.proClass .title a{ color:#666; font-size:14px; font-weight:bold;}
.proClass .title a:hover{ color:#da251d;}
.proClass .title span{ margin-right:5px; float:right; display:inline;}
.proClass .title span a{ color:#666; font-size:12px; font-weight: normal;}
.proClass .title span a:hover{ color:#da251d;}
.proClass .proList{ margin-top:10px; margin-bottom:10px; list-style:none; overflow:hidden;}
.proClass .proList li{ width:200px; line-height:20px; padding-left:20px; margin-bottom:20px; color:#666; text-align:center; border:#fff 1px solid; float:left;}
.proClass .proList li.current{ border:#d6d6d6 1px solid;}
.proClass .proList li img{ width:180px; height:137px; border:none;
    cursor: pointer;}
.proClass .proList li a{ color:#666; font-weight:bold;}
.proClass .proList li a:hover{ color:#da251d; text-decoration:underline;}