@charset "utf-8";
/* CSS Document */
.wrapper{ padding-top:1px;}
.subBanner{ width:960px; height:170px;}
.subBanner img{ width:960px; height:170px;}
.main{ width:960px; background:url(../images/main_bg1.jpg) no-repeat; overflow:hidden;}
/*Left Side*/
.leftSide{ margin-top:12px;  width:210px; float:left;}
.leftSide .menu{ margin-left:12px; border: 1px solid #ccc; border-bottom:none; background:#f7f7f7; overflow:hidden;}
.leftSide .menu li{ line-height:32px;padding-left:33px; border-top:#fff 1px solid; border-bottom: 1px solid #ccc;}
.leftSide .menu li.title{ height:36px; line-height:36px; font-size:14px; font-weight:bold; color:#333; background:url(../images/left_title_bg.gif) repeat-x;}
.leftSide .menu li.lastLi{ border-bottom:none;}
.leftSide .menu h1{ font-size:14px; font-weight:bold; line-height:38px; }
.leftSide .menu li a{ color:#000; text-decoration:none;}
.leftSide .menu li a:hover{ color:#da251d;}
.leftSide .leftQuickLink{ height:88px; margin-top:10px; margin-left:12px; border:#ccc 1px solid; overflow: hidden;}
.leftSide .leftQuickLink img{ width:196px; height:88px; border:none;}
/*Left Side End*/
.rightSide{ margin-left:30px; margin-top:12px;width:720px; float:left; display:inline;}
.rightSide .pagePosition { height:20px; padding-right:24px; line-height:20px; color:#aaa; overflow:hidden;}
.rightSide .pagePosition span{ color:#aaa; float:right; clear:both;}
.rightSide .pagePosition span a{ color:#aaa;}
.rightSide .pagePosition span a:hover{ color:#da251d; text-decoration:underline;}
.rightSide .titleBar{ margin-right:22px; height:40px; line-height:40px; font-size:16px; font-weight:bold; border-bottom:#ccc 1px solid;}
.rightSide .content{ width:698px; padding-right:22px; padding-top:12px; min-height:300px; overflow:hidden; line-height:2; margin-bottom:30px; font-size:12px; font-style:inherit;}
/*Right Side End*/
/*css flickr style pagination*/
.cutPage { _width:700px; padding:0px; margin-top:15px; margin-bottom:15px; height:30px; line-height:30px;text-align:center; font-family:Verdana; font-size:12px;text-align:right;}
.cutPage a {border-right: #dedfde 1px solid; padding-right: 6px; background-position: 50% bottom; border-top: #dedfde 1px solid; padding-left: 6px; padding-bottom: 2px; border-left: #dedfde 1px solid; color: #0061de; margin-right: 3px; padding-top: 2px; border-bottom: #dedfde 1px solid; text-decoration: none}
.cutPage a:hover {border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de}
.cutPage a:active {border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de}
.cutPage span.current {padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #ff0084; margin-right: 3px; padding-top: 2px}
.cutPage span.disabled {padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #adaaad; margin-right: 3px; padding-top: 2px}
/*Feedback Css*/
.add{ margin:0 0 10px 0; padding:0 0 0 20px; font-size:14px; line-height:30px; border-bottom: 1px solid #999; background:url(../images/icon_comment.gif) no-repeat left 8px; background-position:left -43px;}
.feedback_add dl{ clear: both; height:auto; padding:10px 0; }
.feedback_add dl dt{ float: left; display:block; width: 110px; }
.feedback_add dl dd{ float: left; width:508px; }
.feedback_add dl dd .fright{ float: right;}
.feedback_add dl dd textarea{ width:504px; height:80px; overflow:auto; }
.feedback_add dl dd label{ margin-left: 10px; color: #999; }
.feedback_add img{ border:none;}
/*Map Css*/
.map_div{ margin:0; padding:0; width:655px;height:448px;background:url(../images/map_bg.jpg) no-repeat left top;}
.map_div div, .map_div table{ margin:0; padding:0;}
.map_left{width:105px;float:left;}
	   .map_left a.img_one{display:block; width:105px;height:52px;background:url(/templates/acto/images/beijian2.jpg) no-repeat left top;}
	   .map_left a.img_two{display:block; width:105px;height:52px;background:url(/templates/acto/images/yonghu2.jpg) no-repeat left top;}
	   .map_left a.img_three{display:block; width:105px;height:52px;background:url(/templates/acto/images/baoxiu2.jpg) no-repeat left top;}
	   .map_left a.img_four{display:block; width:105px;height:52px;background:url(/templates/acto/images/fuwu2.jpg) no-repeat left top;}
	   
	   .map_left a.img_one:hover{display:block; width:105px;height:52px;background:url(/templates/acto/images/beijian1.jpg) no-repeat left top;}
	   .map_left a.img_two:hover{display:block; width:105px;height:52px;background:url(/templates/acto/images/yonghu1.jpg) no-repeat left top;}
	   .map_left a.img_three:hover{display:block; width:105px;height:52px;background:url(/templates/acto/images/baoxiu1.jpg) no-repeat left top;}
	   .map_left a.img_four:hover{display:block; width:105px;height:52px;background:url(/templates/acto/images/fuwu1.jpg) no-repeat left top;}
	   
	   .map_right{ width:549px; float:left;}
	   .tab1 {
       background: url("/templates/acto/images/m.jpg") repeat-x scroll 0 0 transparent;
       border: 1px solid #CFCFCF;
       height: 29px;
       overflow: hidden;
       width: 641px;
	    clear:both;
       }
.box { line-height:26px;}
.box .tab1 h3{ float:left; padding-left:12px; line-height:29px; color:#575757;}
.box .tab1 h4{ float:left; padding-left:12px; line-height:29px; color:#575757;}
.box .tab1 {height:29px; width:641px; background:url(../images/m.jpg) repeat-x; border:1px solid #cfcfcf; overflow: hidden;}
.box .tab1 ul { float:right; padding:8px 8px 0 0; width:120px;}
.box .tab1 li {  text-align: center; color:#575757; float:left; margin:0 2px; display:inline; border:1px solid #cecece; width:12px; height:12px; line-height:12px; cursor: pointer;}
.box .tab1 li.current { color: #fff; background:#d31213;}
.box .cont1{ width:611px; padding:15px 0 0 30px; height:auto !important; height:174px; min-height:174px; background:url(../images/m_22.jpg) repeat-x #fff; border:1px solid #cfcfcf; margin-top:4px; line-height:24px;}
/*Job Css*/
.join{ width:640px;margin-left:20px; float:left; display:inline;}
.join dt{ width:640px; float:left; border-bottom:1px solid #e5e5e5; line-height:35px;background:#f7f7f7; border-top:1px solid #e5e5e5}
.join li{ width:640px; float:left; border-bottom:1px solid #e5e5e5; background:#fff; line-height:35px;}
.join .name{ width:155px; float:left; padding-left:25px;}
.join .dd{ width:155px; float:left;}
.join .rs{ width:50px; text-align:center; float:left;}
.join .zt{ width:70px; float:left; text-align:center; padding-left:40px;}
.join .time{ width:120px; float:left; text-align:center;}