.proClass .nav li {
    width: 84px;
    position: relative;
    left: -30px;
}

.video .proList li {
	 border: 1px solid #F1f1f1;
	  margin: 5px;
	  padding: 5px;
	   box-shadow: 1px 1px 3px #CCC;
}

/*模态框*/
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  opacity: .5;
}

.modal {
  display: none;
  background: #eee;
  padding: 0 20px 20px;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 500px;
  min-height: 300px;
}
/*end 模态框*/


