.infoList {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 25px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.infoList li {height:220px; width:206px; list-style:none ; float:left; margin:0 10px;}
.infoList li img { BORDER-BOTTOM: #d6d6d6 1px solid; BORDER-LEFT: #d6d6d6 1px solid; WIDTH: 206px; float:right;HEIGHT: 155px; BORDER-TOP: #d6d6d6 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; float:left; margin:0 15px;}
.infoList dd {float:left; width:206px; display: inline; 
    padding: 0; text-align:center;}	
.infoList LI A {
	COLOR: #666;
	line-height:30px;
}
.infoList LI A:hover {
	COLOR: #da251d; TEXT-DECORATION: underline
}

.h4 {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN-TOP: 5px; BACKGROUND: #f8f8f8; HEIGHT: 30px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#news_title {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 15px; FONT-SIZE: 22px; FONT-WEIGHT: normal
}
.date_i {
	TEXT-ALIGN: center; FONT-STYLE: normal; MARGIN: 0px 0px 15px; DISPLAY: block; COLOR: #999
}
.p_n_b {
	LINE-HEIGHT: 30px; MARGIN-TOP: 30px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 30px; OVERFLOW: hidden; _width: 700px
}
.p_n_b A {
	DISPLAY: inline; MARGIN-BOTTOM: 20px; HEIGHT: 28px
}
.previous {
	FLOAT: left
}
.back {
	TEXT-ALIGN: center
}
.next {
	TEXT-ALIGN: right; FLOAT: right
}
.down_list H3 {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.down_list UL {
	PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; LIST-STYLE-IMAGE: none; PADDING-TOP: 10px
}
.down_list LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/icon_down.gif) no-repeat left center; PADDING-TOP: 0px
}
.down_list LI SPAN {
	FLOAT: right
}
.down_list LI I {
	FONT-STYLE: normal; COLOR: #666; MARGIN-LEFT: 10px
}

